@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.cta{
   background-color: #3882f6; 
}

/*navbar section*/

.navbar{
    padding: 20px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

.navbar .header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.navbar a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin: 10px;
}

/*hero section*/

.hero-section{
    padding: 80px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.hero-section div{
    margin: 30px;
    padding: 10px;
    width: 500px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #f9faf8;
}

.hero-secondary-text,
.hero-button{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.hero-right{
    background-color: #c0c3c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*info section*/

.info-heading{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-cards{
    display: flex;
    justify-content: center;
}

.card{
    width: 150px;
    margin: 20px;
}

.card-top{
    height: 150px;
    width: 144px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.card-text{
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

/*quote section*/

.quote-section{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: #e5e7eb;
}

.quote{
    width: 720px;
    margin: auto;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.quote-owner{
    width: 720px;
    padding-right: 100px;
    margin: auto;
    text-align: end;
    font-weight: 800;
}

/*call to actio section*/
.cta-section{
    padding: 80px;
}

.bottom-cta{
    padding: 30px 0;
    margin: auto;
    max-width: 980px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.bottom-cta p{
    padding: 0;
    margin: 0;
    color: #f9faf8;
}

.bottom-cta button{
    color: #f9faf8;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #f9faf8;
}

/*footer*/
footer{
    background-color: #1f2937;
    display: flex;
}

footer p{
    font-size: 12px;
    color: #e5e7eb;
    padding: 20px;
    margin: auto;
}